= link_to 'New Vulnerability', new_vulnerability_path

%h1 Listing vulnerabilities
.autopagerize_page_element
  = render @vulnerabilities
 

= link_to_next_page  @vulnerabilities , 'next page', remote: true 